# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
/CASOS DE PRUEBA
/COMPILADO
makefile_backup
/RESULTADOS
/RESULTADOS
/graphs/.M FIJA
/INFORMACION DE TIEMPOS
README.md.tmp.html
/graphs/.ipynb_checkpoints
/graphs/.ipynb_checkpoints
/.idea
